---
layout: layouts/base
---

include /stripes
div(class="container mx-auto py-12 px-4")
    include /navbar
    h1(class="text-3xl sm:text-4xl md:text-5xl mt-24 font-title font-black") Kabir, But Online.
    p(class="text-lg md:text-2xl mt-2 mb-8 text-gray-700 dark:text-zinc-200") The website and blog of Kabir&nbsp;Goel
    include /subscribe
    p(class="mt-1.5 text-sm text-gray-400") Or follow me on #[a(href="https://twitter.com/KabirGoel" class="underline") Twitter]
    div(class="space-y-12 mt-12")
        each yearWithPosts in collections.postsByYear.reverse()
            - const [year, yearPosts] = yearWithPosts
            section
                h2(class="flex items-center space-x-4")
                    span(class="font-semibold text-gray-700 dark:text-zinc-200")= year
                    span(class="border-t flex-1")
                each post in yearPosts.reverse()
                    a(href=post.url)
                        h3(class="font-title text-lg font-bold mt-6 text-gray-800 dark:text-zinc-100 hover:text-[#00f] hover:dark:text-amber-500 transition-colors")= post.data.title
                    p(class="text-gray-500 dark:text-zinc-400")= post.data.subtitle
    include /footer
