footer(class="mt-24 flex items-center justify-between")
    p(class="text-gray-400") © 2022 Kabir Goel
    p
        button(type="button", onclick="window.scrollTo({top: 0, behavior: 'smooth'});") Back to top &uarr;