footer(class="mt-24 flex")
    p(class="text-gray-400 dark:text-zinc-500 text-sm")
        | © 2022 Kabir Goel.
        button(type="button" x-data="" @click="window.scrollTo({ top: 0, behavior: 'smooth' });" class="text-gray-600 dark:text-zinc-400") &nbsp;Back to top &uarr;