footer(class="mt-16 border-t pt-4 flex flex-col gap-4 text-sm")
    div(class="flex justify-between items-center text-gray-500 dark:text-zinc-400")
        a(href="https://twitter.com/KabirGoel") © Kabir Goel
        div(class="flex items-center gap-2 text-blue-800 dark:text-blue-200")
            a(href="https://github.com/kbrgl") GitHub
            a(href="https://twitter.com/KabirGoel") Twitter
    button(type="button" x-data="" @click="window.scrollTo({ top: 0, behavior: 'smooth' });" class="text-gray-700 dark:text-zinc-200 bg-gray-200 dark:bg-zinc-800 p-4 rounded-xl font-semibold") &nbsp;Back to top &uarr;
