footer(class="mt-24 flex border-t pt-4 text-gray-500 dark:text-zinc-400 text-sm")
    a(href="https://twitter.com/KabirGoel") @KabirGoel.
    button(type="button" x-data="" @click="window.scrollTo({ top: 0, behavior: 'smooth' });" class="text-gray-700 dark:text-zinc-200") &nbsp;Back to top &uarr;