nav(x-data="{ theme: 'light' }" class="flex justify-between flex-col md:flex-row md:items-center text-gray-700 dark:text-zinc-200 md:space-x-8 border-b pb-4")
    a(href="/" class="text-black dark:text-white font-semibold") Kabir Goel
    div(class="flex items-center justify-between flex-1 mt-4 md:mt-0")
        ul(class="flex items-baseline space-x-4 text-sm overflow-x-auto")
            li
                a(href="https://read.cv/kabirgoel" class="hover:text-amber-500 hover:dark:text-yellow-500 transition-colors") About
            li
                a(href="/projects" class="hover:text-amber-500 hover:dark:text-yellow-500 transition-colors") Projects
        button(type="button" x-data=`{
            isDark() {
                return (
                    localStorage.theme === 'dark' ||
                    (!('theme' in localStorage) &&
                        window.matchMedia('(prefers-color-scheme: dark)').matches)
                )
            },
            setTheme(isDark) {
                if (isDark) {
                    document.documentElement.classList.add("dark")
                    return 'dark'
                } else {
                    document.documentElement.classList.remove("dark")
                    return 'light'
                }
            },
            invertTheme() {
                const isDark_ = this.isDark()
                if (isDark_) {
                    localStorage.theme = 'light'
                } else {
                    localStorage.theme = 'dark'
                }
                return this.setTheme(!isDark_)
            }
        }` x-init="theme = setTheme(isDark())" @click="theme = invertTheme()" class="hover:bg-gray-200 hover:dark:bg-zinc-700 rounded-full p-2 transition-colors flex items-center")
            span(x-show="theme === 'light'")
                include /icons/sun.svg
            span(x-show="theme === 'dark'")
                include /icons/moon.svg
