form(action="https://buttondown.email/api/emails/embed-subscribe/kabir" method="POST" class="sm:flex-row sm:space-x-2 sm:space-y-0 flex flex-col items-stretch space-y-2 max-w-md")
    label(for="email" class="w-full")
        input#email(type="email" name="email" placeholder="Your email address" class="border py-2 px-3 rounded w-full bg-white dark:bg-zinc-800 placeholder:text-gray-500 dark:placeholder:text-zinc-400")
    button(type="submit" value="Subscribe" class="rounded py-2 px-5 border font-semibold bg-white dark:bg-zinc-800") Subscribe
