@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply underline underline-offset-2 decoration-dotted text-black decoration-gray-400;
  }

  .body-text {
    @apply text-gray-700 text-lg;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    @apply transition-colors;
    font-size: 16px;
  }

  hr {
    @apply border-t border-gray-200;
  }
}
