@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        -webkit-tap-highlight-color: transparent;
    }

    :focus-visible {
        @apply outline outline-zinc-500;
    }

    html,
    body {
        scrollbar-gutter: stable;
        scrollbar-color: #777 transparent;
    }

    /* Define a transition duration during page visits */
    html.is-changing .transition-fade {
        transition: opacity 0.25s;
        opacity: 1;
    }

    /* Define the styles for the unloaded pages */
    html.is-animating .transition-fade {
        opacity: 0;
    }
}

@layer components {
    .container {
        @apply max-w-screen-lg;
    }

    .markdown {
        @apply prose leading-relaxed dark:prose-invert dark:text-zinc-300 prose-video:rounded-md prose-img:rounded-md prose-blockquote:not-italic prose-a:decoration-2 prose-a:underline-offset-2 prose-a:decoration-gray-300 dark:prose-a:decoration-zinc-600 prose-a:text-blue-800 dark:prose-a:text-blue-300 hover:prose-a:text-amber-500 dark:hover:prose-a:text-yellow-500 prose-a:transition-colors prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-code:font-normal prose-code:before:content-none prose-code:after:content-none prose-pre:border prose-pre:rounded-none prose-pre:shadow-sm dark:prose-hr:border-zinc-700 prose-headings:font-title dark:prose-tr:border-zinc-700 dark:prose-thead:border-zinc-700
    }

    .markdown summary {
        @apply cursor-pointer font-semibold;
    }

    .markdown summary::marker {
        @apply text-gray-400 dark:text-zinc-500;
    }

    .markdown details[open] {
        @apply border-b pb-2;
    }
}

@layer utilities {
    .border,
    .border-t,
    .border-b,
    .border-r,
    .border-l {
        @apply dark:border-zinc-700;
    }
}