.navbar {
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  padding: 18px 0;
}

.navbar a {
  text-decoration: none;
  font-size: var(--font-size-xs);
  margin-right: var(--xs);
}

.links {
  display: flex;
}

.links .name {
  font-weight: 500;
  margin-right: var(--m);
}
