.navbar {
  border-top: 5px solid var(--color-accent);
  border-bottom: 2px solid var(--color-stroke);
}

.navbar a {
  text-decoration: none;
  font-size: var(--font-size-xs);
}

.links {
  display: flex;
  align-items: stretch;
}

@media screen and (max-width: 600px) {
  .links {
    flex-direction: column;
  }
}

.name {
  border-right: 1px solid var(--color-stroke);
  padding: var(--s) var(--m);
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  .name {
    border-right: 0;
  }
}

.name a {
  font-weight: 600;
  color: var(--color-text-primary);
}

.list {
  flex: 1;
  color: var(--color-text-secondary);
  padding: var(--s) var(--m);
}

@media screen and (max-width: 600px) {
  .list {
    padding-top: 0;
    padding-left: 0;
  }
}

.list a {
  margin-left: var(--s);
}

.list a:first-child {
  margin-left: 0;
}

.list a:hover {
  color: var(--color-accent);
}
