.card {
  overflow: hidden;
}

.card a {
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  text-decoration-color: var(--color-text-tertiary);
}

.card a:hover {
  color: inherit;
}

.metadata {
  overflow: hidden;
}

.metadata > p {
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  font-weight: 500;
}

.artist {
  line-height: var(--line-height-tight);
  font-size: var(--font-size-xs);
}

.metadata .tag {
  font-size: var(--font-size-xxs);
  font-variant: small-caps;
  letter-spacing: 1px;
  opacity: 0.75;
}

.spotify {
  font-weight: 400;
  opacity: 0.75;
}
