.project {
  margin-top: var(--l);
  border-top: 1px solid currentColor;
  display: flex;
}

.image {
  margin-right: var(--s);
  align-self: flex-start;
}

.link {
  display: block;
  text-decoration: none;
}

.name {
  font-weight: 500;
}

.description {
  margin-left: var(--xxs);
  color: var(--color-text-secondary);
}

@media screen and (max-width: 650px) {
  .project {
    flex-direction: column;
  }
}
