.form {
  display: flex;
  align-items: center;
}

.form input {
  flex: 1;
  margin-right: var(--xs);
}

.form button {
  align-self: stretch;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .form {
    flex-direction: column;
  }

  .form input {
    margin-right: 0;
    margin-bottom: var(--xs);
  }
}
