.form input {
  margin-bottom: var(--xs);
}

.form button {
  padding: var(--xs) var(--m);
}

@media screen and (max-width: 600px) {
  .form {
    flex-direction: column;
  }

  .form input {
    margin-right: 0;
    margin-bottom: var(--xs);
  }
}
