.subscribe {
  transition: opacity calc(2 * var(--transition-duration));
}

.loading {
  opacity: 0.75;
}

.loading,
.loading * {
  cursor: wait;
}

.form {
  margin-top: var(--m);
}

.message {
  margin: var(--xs) 0 0;
}
