---
import BaseLayout from "#/layouts/base-layout.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";
import Container from "../../components/container.astro";

export async function getStaticPaths() {
	const posts = await getCollection("posts");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { title, subtitle, preview, date } = post.data;
const { Content } = await render(post);
---

<BaseLayout title={title} description={subtitle}>
	<Container class="mt-16">
		<main>
			<article>
				<h1 class="text-lg font-bold">{title}</h1>
				<p class="mt-2 text-muted-foreground">{subtitle}</p>

				<div class="markdown mt-8">
					<Content />
				</div>
			</article>
		</main>
	</Container>
</BaseLayout>
