---
type Props = {
    href: string;
};

const { href } = Astro.props;
---

<a
    href={href}
    class="block rounded-lg border-hairline border-border p-3 transition-colors bg-card text-card-foreground"
>
    <slot />
</a>
