---
import { cn } from "#/lib/utils.ts";

type Props = {
	href?: string;
	class?: string;
};

const { href, class: className } = Astro.props;
const cls =
	"block rounded-lg border-hairline border-border p-3 transition-colors bg-card text-card-foreground";
---

{
	href ? (
		<a href={href} class={cn([cls, className])}>
			<slot />
		</a>
	) : (
		<div class={cn([cls, className])}>
			<slot />
		</div>
	)
}
