---
import ArrowUpIcon from "#/assets/icons/nucleo-arcade-arrow-up.svg";
---

<footer
	class="mt-32 mx-4 mb-4 text-sm text-muted-foreground grid grid-cols-1 gap-4"
>
	<div class="p-4 rounded bg-muted text-center">
		Thanks for visiting!
		<button
			class="link inline-flex items-center gap-2"
			data-footer-back-to-top>Back to top <ArrowUpIcon /></button
		>
	</div>
</footer>

<script>
	document.querySelectorAll("[data-footer-back-to-top]").forEach((button) => {
		button.addEventListener("click", () => {
			window.scrollTo({ top: 0, behavior: "smooth" });
		});
	});
</script>
