---
import PixelLogo from "./logo.astro";
---

<nav
    class="flex justify-between text-sm p-4 sticky top-0 bg-linear-to-b from-background to-transparent"
    data-nav
>
    <PixelLogo />
    <ul class="flex gap-4">
        <a href="https://x.com/KabirGoel">X</a>
        <a href="https://github.com/kbrgl">GitHub</a>
        <a href="/projects">Projects</a>
        <a href="https://notes.kabirgoel.com">Notes</a>
    </ul>
</nav>
