---
import PixelLogo from "./pixel-logo.astro";
---

<nav
    class="flex justify-between text-sm p-4 sticky top-0 bg-linear-to-b from-background to-transparent"
    data-nav
>
    <a href="/" class="font-bold flex items-center gap-2">
        <PixelLogo />
        <span class="leading-none">Kabir Goel</span>
    </a>
    <ul class="flex gap-4">
        <a href="https://x.com/KabirGoel">X</a>
        <a href="/projects">Projects</a>
        <a href="https://notes.kabirgoel.com">Notes</a>
    </ul>
</nav>
