---
layout: layouts/page
---

article(class="max-w-screen-sm mx-auto")
    h1(class="text-3xl sm:text-4xl mt-24 font-title font-black")= title
    p(class="text-xl mt-2 text-gray-700 dark:text-zinc-400")= subtitle
    div(class="mt-12 leading-relaxed prose dark:prose-invert prose-lg prose-headings:font-normal prose-blockquote:not-italic prose-a:decoration-2 prose-a:decoration-gray-300 dark:prose-a:decoration-zinc-600 hover:prose-a:text-[#00f] hover:dark:prose-a:text-yellow-500 prose-a:transition-colors") !{content}
    div(class="mt-12 border p-8 rounded-xl space-y-1.5")
        p(class="font-medium") Get more like this in your inbox
        include /subscribe