---
layout: layouts/page
---

p(class="text-xs mt-4 text-gray-400 dark:text-zinc-500")
    = filters.readableDate(date)
h1(class="text-4xl mt-12 font-title font-black whitespace-pre-line")= title
h2(class="text-lg mt-2 text-gray-600 dark:text-zinc-300")= subtitle
div(class="mt-12 markdown")
    | !{content}
div(class="border-t mt-12 pt-16 dark:bg-zinc-900")
    p(class="mb-1.5 text-sm font-bold") Get more like this in your inbox
    include /subscribe
