---
import BaseHead from "#/components/base-head.astro";
import Footer from "#/components/footer.astro";
import Nav from "#/components/nav.astro";

type Props = {
    title?: string;
    description?: string;
};

const {
    title: pageTitle,
    description = "The website and blog of Kabir Goel.",
} = Astro.props;

const siteTitle = "Kabir Goel";
const fullTitle = pageTitle ? `${pageTitle} \\ ${siteTitle}` : siteTitle;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={fullTitle} description={description} />
    </head>
    <body class="antialiased bg-background text-foreground leading-normal">
        <Nav />
        <div class="m-4">
            <slot />
        </div>
        <Footer />
    </body>
</html>
