.main {
  height: 80vh;
  display: flex;
  align-items: center;
}

.main h1:first-of-type {
  padding-right: var(--xs);
  border-right: 2px solid #ccc;
}

.main h1:last-of-type {
  padding-left: var(--xs);
  font-weight: 400;
}
