@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        -webkit-tap-highlight-color: transparent;
    }
}

@layer components {
    .container {
        @apply max-w-screen-lg;
    }

    .markdown {
        @apply prose leading-relaxed dark:prose-invert dark:text-zinc-300 prose-video:rounded-md prose-img:rounded-md prose-blockquote:not-italic 
            prose-a:decoration-2 prose-a:underline-offset-2 prose-a:decoration-gray-300 dark:prose-a:decoration-zinc-600 prose-a:text-blue-800 dark:prose-a:text-blue-300
            hover:prose-a:text-amber-500 dark:hover:prose-a:text-yellow-500 prose-a:transition-colors
            prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg
            prose-code:font-normal prose-code:before:content-none prose-code:after:content-none
            prose-pre:border prose-pre:rounded-none prose-pre:shadow-sm
            prose-headings:font-title dark:prose-tr:border-zinc-700 dark:prose-thead:border-zinc-700;
    }
}

@layer utilities {
    .border, .border-t, .border-b, .border-r, .border-l {
        @apply dark:border-zinc-700;
    }
}
