@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer base {
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    @apply transition-colors;
    font-size: 16px;
  }

  hr {
    @apply border-t border-gray-200;
  }
}
