.picture {
  position: relative;
  display: inline-block;
}

.picture::after {
  content: "";
  position: absolute;
  background: url(/arrow.png);
  background-size: contain;
  width: 100px;
  height: 40px;
  bottom: 20px;
  right: calc(-100% + 20px);
}

.picture img {
  margin: var(--xl) 0 var(--xs);
  height: 120px;
  width: 120px;
}

.light {
  color: #666;
}

.posts {
  list-style-type: none;
  padding: 0;
  margin: var(--m) 0 0;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
}

.post a {
  padding: var(--m) var(--m);
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.post:hover {
  background: #fafafa;
}

.post:last-child a {
  border-bottom: 0;
}

.post .title {
  font-size: var(--font-size-m);
  font-weight: 500;
}

.post .date {
  color: #888;
  font-size: var(--font-size-xs);
}

.post .subtitle {
  margin: 0;
  color: #666;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  border-radius: 8px;
  background: #0008;
  padding: var(--s);
  color: #fff;
}

.card .background {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: -1;
  filter: blur(10px);
  transform: scale(1.5);
  opacity: 0.75;
  pointer-events: none;
}

.card .logo {
  width: 108px;
  height: 108px;
  margin-right: var(--m);
  border-radius: 8px;
  box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.2);
}

.card .text {
  margin: 0;
}

.footer {
  color: #666;
  border-top: 1px solid #ccc;
  padding-top: var(--xs);
  font-size: var(--font-size-xs);
  margin: var(--xl) 0;
}

@media screen and (max-width: 600px) {
  .posts .meta {
    flex-direction: column;
    justify-content: flex-start;
  }

  .card {
    padding: var(--m);
    flex-direction: column;
    align-items: flex-start;
  }

  .card img {
    margin-bottom: var(--s);
  }
}
