.picture {
  position: relative;
  display: inline-block;
  margin: var(--xl) 0 var(--xs);
}

.picture::after {
  content: "";
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: calc(-100% + 20px);

  background: url(/arrow.png);
  background-size: contain;
}

.intro {
  font-size: var(--font-size-s);
}

.email {
  padding: calc(var(--xxs) / 2) var(--xxs);
  line-height: var(--line-height-loose);

  border: 1px solid var(--color-stroke);
  border-radius: 8px;
  white-space: nowrap;
}

.email .icon {
  vertical-align: calc(-1 * var(--xxs));
  width: 20px;
  height: 20px;
  margin-right: var(--xxs);

  cursor: copy;
  stroke: var(--color-text-secondary);
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke var(--transition-duration);
}

.email .icon:hover {
  stroke: var(--color-text);
}

.light {
  color: var(--color-text-secondary);
}

.posts {
  margin: var(--m) 0 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;

  border: 1px solid var(--color-stroke);
  border-radius: 8px;
}

.post {
  transition: background var(--transition-duration);
}

.post:hover {
  background: var(--color-wash);
}

.post a {
  padding: var(--m) var(--m);
  display: block;

  text-decoration: none;
  border-bottom: 1px solid var(--color-stroke);
}

.post:last-child a {
  border-bottom: 0;
}

.post .title {
  font-size: var(--font-size-m);
  font-weight: 500;
}

.post .date {
  color: var(--color-text-tertiary);
  font-size: var(--font-size-xs);
}

.post .subtitle {
  margin: 0;

  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: var(--s);

  border-radius: 8px;
  background: #0008;
  font-size: var(--font-size-s);
  color: #fff;
}

.card .background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(10px);
  transform: scale(1.5);
  opacity: 0.75;
  pointer-events: none;
}

.card .logo {
  position: relative;
  height: 108px;
  width: 108px;
  margin-right: var(--m);
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.2);
}

.card .text {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .post .meta {
    flex-direction: column;
    justify-content: flex-start;
  }

  .card {
    padding: var(--m);
    flex-direction: column;
    align-items: flex-start;
  }

  .card .logo {
    margin-bottom: var(--s);
  }
}
