.header {
  margin: 40px 0;
}

.meta {
  font-size: 16px;
  color: #888;
}

.title {
  margin: 10px 0;
}

.subtitle {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  color: #333;
}

.content figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content figcaption {
  margin-top: -10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  color: #666;
}

.content img {
  width: calc(100% + 10vw);
  margin: 20px auto;
  transform: translateX(-5vw);
}

.content ol {
  padding-left: 0;
  list-style-type: none;
  counter-reset: list-counter 0;
}

.content ol li {
  counter-increment: list-counter;
  display: flex;
  align-items: baseline;
}

.content ol li p {
  margin: 5px 0;
}

.content ol li::before {
  content: "(" counter(list-counter) ")";
  margin-right: 10px;
  font-weight: 600;
  color: #666;
}

.content :global(.footnote-backref) {
  margin-left: 5px;
  text-decoration: none;
}

.footer {
  margin-bottom: 40px;
}

.author {
  margin: 40px 0 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.author img {
  margin-right: 15px;
  height: 72px;
  width: 72px;
}

.author p {
  margin: 0;
}

.share {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
}

@media screen and (max-width: 770px) {
  .content h1 {
    font-size: 28px;
  }

  .content img {
    width: 100%;
    transform: translateX(0);
  }
}
