.title {
  margin-bottom: 0;
}

.subtitle {
  font-size: 21px;
  font-weight: 400;
  color: #333;
}

.content ol {
  padding-left: 2em;
}

.content :global(.footnote-backref) {
  text-decoration: none;
  margin-left: 5px;
}

.meta {
  color: #666;
}

@media screen and (max-width: 600px) {
  .content h1 {
    font-size: 28px;
  }
}
