.content {
  @apply leading-normal mt-10;
}

.content p {
  @apply my-5;
}

.content a {
  @apply text-accent;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  @apply mt-10 font-bold text-lg leading-tight;
}

.content figure {
  @apply w-full m-0 p-0;
}

.content figcaption {
  @apply text-gray-500 text-sm pb-3 mt-3;
}

.content img {
  @apply mx-auto my-3;
}

.content figure img {
  @apply w-full;
}

.content ul {
  @apply list-disc list-outside pl-5;
}

.content ul li {
  @apply my-2.5;
}

.content ol {
  @apply pl-0 list-none;

  counter-reset: list-counter 0;
}

.content ol li {
  counter-increment: list-counter;
}

.content ol li p {
  @apply my-1 mx-0;
}

.content ol li::before {
  @apply mr-1 font-bold float-left;
  content: counter(list-counter) ".";
}

.content :global(.footnotes) {
  @apply text-gray-500 text-sm;
}

.content :global(.footnotes) ol {
  @apply py-5;
}

.content :global(.footnotes) li {
  @apply mb-1;
}

.content :global(.footnotes) li:last-of-type {
  @apply mb-0;
}

.content :global(.footnote-ref) {
  @apply text-accent;
}

.content :global(.footnote-backref) {
  @apply ml-auto pl-1;
}

.content blockquote {
  @apply m-0 pl-3 border-l border-l-gray-300 border-l-2;
}
