.header {
  margin-bottom: var(--xl);
}

.meta {
  font-size: var(--font-size-xs);
  color: var(--color-text-tertiary);
}

.title {
  margin: var(--xs) 0;

  line-height: var(--line-height-tight);
  font-size: var(--font-size-xxl);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: var(--font-size-xl);
  }
}

.subtitle {
  margin: 0;

  line-height: var(--line-height-snug);
  font-size: var(--font-size-l);
  font-weight: 400;
  color: var(--color-text-secondary);
}

@media screen and (max-width: 600px) {
  .subtitle {
    font-size: var(--font-size-m);
  }
}

.content {
  font-size: var(--font-size-m);
  line-height: var(--line-height-loose);
}

@media screen and (max-width: 600px) {
  .content {
    font-size: inherit;
  }
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: var(--xxl) 0 var(--l);

  font-weight: 500;
  font-size: var(--font-size-xl);
}

.content figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content figcaption {
  margin-top: calc(-1 * var(--xs));
  padding-bottom: var(--xs);

  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-text-tertiary);
}

.content img {
  width: calc(100% + 10vw);
  margin: var(--m) auto;
  transform: translateX(-5vw);
}

@media screen and (max-width: 800px) {
  .content img {
    width: 100%;
    transform: translateX(0);
  }
}

.content ol {
  padding-left: 0;
  list-style-type: none;

  counter-reset: list-counter 0;
}

.content ol li {
  display: flex;
  align-items: baseline;

  counter-increment: list-counter;
}

.author p {
  margin: 0;
}

.content ol li p {
  margin: var(--xxs) 0;
}

.content ol li::before {
  content: counter(list-counter) ".";
  margin-right: var(--xs);

  font-weight: 500;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.content :global(.footnote-backref) {
  margin-left: var(--xxs);

  text-decoration: none;
}

.author {
  padding: var(--m);
  margin: var(--xl) 0 var(--m);
  display: flex;
  align-items: center;

  border: 1px solid var(--color-stroke);
  border-radius: 8px;
}

.author img {
  margin-right: var(--s);
  height: 64px;
  width: 64px;
}

.share {
  margin-top: var(--xxs);

  color: var(--color-text-secondary);
}
