.header {
  margin-bottom: var(--xl);
}

.meta {
  font-size: var(--font-size-xs);
  color: var(--color-text-tertiary);
}

.title {
  margin: var(--xs) 0;

  line-height: var(--line-height-tight);
  font-size: var(--font-size-xl);
  font-weight: 600;
}

.subtitle {
  margin: 0;

  font-size: var(--font-size-m);
  font-weight: 400;
  color: var(--color-text-secondary);
}

.content {
  color: var(--color-text);
  line-height: var(--line-height-normal);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: var(--xl) 0 calc(-1 * var(--xxs));

  color: var(--color-text);
  font-weight: 600;
  font-size: var(--font-size-l);
  line-height: var(--line-height-tight);
}

.content figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content figcaption {
  margin-top: calc(-1 * var(--xs));
  padding-bottom: var(--xs);

  font-size: var(--font-size-xxs);
  color: var(--color-text-tertiary);
}

.content img {
  margin: var(--m) auto;
}

.content figure img {
  width: 100%;
}

.content ol {
  padding-left: 0;
  list-style-type: none;

  counter-reset: list-counter 0;
}

.content ol li {
  counter-increment: list-counter;
}

.content ol li p {
  margin: var(--xxs) 0;
}

.content ol li::before {
  content: counter(list-counter) ".";
  margin-right: var(--xs);
  float: left;

  font-weight: 500;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.content :global(.footnotes) li {
  margin-bottom: var(--xs);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.content :global(.footnotes) li:last-of-type {
  margin-bottom: 0;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.content :global(.footnote-backref) {
  margin-left: auto;
  padding-left: var(--xs);

  text-decoration: none;
}

.content blockquote {
  margin: 0;
  padding-left: var(--m);

  border-left: var(--xxs) solid var(--color-stroke);
}

.footer {
  padding: var(--xxl) 0 var(--m);

  font-size: var(--font-size-xs);
  border-top: 1px dashed var(--color-stroke);
}

.newsletter {
  margin: 0 0 var(--m);
}

.blurb {
  margin: 0 0 var(--xxs);

  color: var(--color-text-secondary);
  font-size: var(--font-size-xxs);
}

.share {
  margin: var(--xxs) 0 0;

  color: var(--color-text-secondary);
}
