.wrapper {
  padding: var(--l);
  background: var(--color-wash);
  border-radius: 8px;
}

.wrapper h2 {
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .wrapper h2 {
    font-size: var(--font-size-l);
  }
}

.wrapper p {
  margin-bottom: 0;
}

.message {
  margin: var(--xs) 0 0;
}
